.channels__icon {
  width: 45px;
  height: 45px;

  fill: $basic-yellow;

  @media (min-width: $tablet) {
    width: 68px;
    height: 68px;
  }

  .circle {
    fill: $big-stone-alt;
  }
}

.channels__link {
  display: grid;
  grid-template-columns: max-content max-content;
  column-gap: 16px;
  align-items: center;

  color: inherit;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;

  &:hover,
  &:focus {
    color: $big-stone-alt;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet) {
    font-size: 28px;
    column-gap: 23px;
  }
}

.channels__link:hover .channels__icon,
.channels__link:focus .channels__icon {
  fill: $special-yellow;

  .circle {
    fill: $big-stone;
  }
}
