.container {
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;

  padding-left: $padding-mobile;
  padding-right: $padding-mobile;

  @media (min-width: $tablet) {
    padding-left: $padding-tablet;
    padding-right: $padding-tablet;

    max-width: 768px;
  }

  @media (min-width: $desktop) {
    padding-left: $padding-desktop;
    padding-right: $padding-desktop;

    max-width: 1440px;
  }

  &--no-max-width {
    max-width: unset;
  }

  &--outer {
    @media (min-width: $tablet) {
      padding-left: 75px;
      padding-right: 75px;
    }

    @media (min-width: $desktop) {
      padding-left: 125px;
      padding-right: 60px;
    }
  }

  &--inner {
    padding-left: 26px;
    padding-right: 26px;

    @media (min-width: $tablet) {
      padding-left: 40px;
      padding-right: 40px;
    }

    @media (min-width: $desktop) {
      padding-left: 95px;
      padding-right: 40px;
    }
  }
}
