.overview {
  position: relative;

  display: flex;
  flex-direction: column;

  max-width: 1440px;

  color: white;

  @media (min-width: $desktop) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 640px;
  }
}

.overview__steps-wrapper {
  background-color: $big-stone;
  margin-left: -$padding-mobile;
  margin-right: -$padding-mobile;
  padding-left: $padding-mobile;
  padding-right: $padding-mobile;

  @media (min-width: $desktop) {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }
}

.overview__steps {
  margin-top: -70px;
  margin-bottom: 40px;

  color: $basic-blue;

  @media (min-width: $tablet) {
    position: relative;

    margin-top: -140px;
  }

  @media (min-width: $desktop) {
    margin-top: -50px;
  }
}

.overview__title {
  padding-bottom: 6px;
  padding-top: 17px;
  margin-bottom: 0;

  text-align: center;

  background-color: $basic-blue;

  @media (min-width: $tablet) {
    padding-top: 25px;
    padding-bottom: 16px;

    background-color: $big-stone-light;
  }

  @media (min-width: $desktop) {
    margin-top: 74px;
    margin-left: 67px;

    background-color: transparent;

    text-align: start;

    z-index: 1;
  }
}

.overview__action-nav {
  justify-content: stretch;
  align-self: center;
  width: Min(100%, 450px);

  background-color: rgba(0, 0, 0, 0);

  transform: translateY(-50%);

  @media (min-width: $tablet) {
    display: none;
  }
}

.overview__wrapper {
  position: relative;

  @media (min-width: $desktop) {
    background-color: $big-stone-light;
    position: static;
  }
}

.overview__image {
  display: flex;
  margin-left: -$padding-mobile;
  margin-right: -$padding-mobile;

  @media (min-width: $tablet) {
    margin-left: -$padding-tablet;
    margin-right: -$padding-tablet;

    object-fit: cover;
  }

  @media (min-width: $desktop) {
    position: absolute;

    margin-left: -$padding-desktop;
    margin-right: -$padding-desktop;
  }

  &--globe {
    @media (min-width: $desktop) {
      bottom: 0;
      left: -201px;

      height: auto;
    }
  }

  &--traveller {
    position: absolute;
    bottom: 0;
    left: 30%;

    width: 192px;
    height: 255px;

    @media (min-width: $tablet) {
      width: 372px;
      height: 451px;

      left: 285px;
      top: 21px;
    }

    @media (min-width: $desktop) {
      top: 0;
      left: 46%;
      width: 431px;
      height: 640px;
    }
  }
}

.overview__quote {
  background-color: $basic-blue;
  margin-top: 68px;
  margin-left: 25px;
  margin-bottom: 111px;

  @media (min-width: $tablet) {
    position: absolute;

    bottom: 447px;
    left: 21px;

    padding-left: 11px;
    margin-top: 0;
    margin-left: 0;

    background-color: inherit;
  }

  @media (min-width: $desktop) {
    position: static;

    margin-left: 0px;
    margin-top: 84px;
    padding-left: 0px;
    margin-right: -43px;

    z-index: 1;
  }
}
