.page-header {
  display: flex;
  flex-wrap: wrap;
  padding-top: 25px;

  background-color: $white;
}

.page-header__logo {
  flex-basis: 80%;
  margin-top: 2px;
  margin-bottom: 68px;
}

.page-header__toggle {
  position: relative;

  margin-top: -3px;
  width: 24px;
  height: 24px;
  margin-left: auto;

  border: none;
  background-color: inherit;

  cursor: pointer;

  &--active {
    &::before {
      content: "";
      position: absolute;
      left: 0;

      width: 24px;
      height: 2px;

      background-color: $silver;
      border-radius: 1.5px;

      transform: rotate(45deg);
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;

      width: 24px;
      height: 2px;

      border-radius: 1.5px;
      background-color: $silver;

      transform: rotate(-45deg);
    }
  }

  &--nojs {
    display: none;
  }
}

.page-header__login {
  flex-basis: 100%;
  min-height: 50px;
  margin-bottom: 35px;

  text-transform: uppercase;

  &:hover,
  &:focus {
    background-color: $special-yellow;
  }

  &:active {
    color: rgba($basic-blue, 0.3);
  }
}

.page-header__nav {
  flex-basis: 100%;
  margin-top: 0;
  margin-bottom: 54px;
}

.page-header__social {
  @include listStyleReset;

  flex-basis: 100%;
  margin-top: 0;
  margin-bottom: 36px;
}

.page-header__channels {
  @include listStyleReset;

  flex-basis: 100%;
  margin-bottom: 41px;
}
