.page-header__wrapper {
  position: relative;
  overflow: hidden;

  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;

  color: $white;

  @media (min-width: $tablet) {
    flex-direction: row-reverse;
    align-items: flex-start;
    padding-top: 44px;
  }

  @media (min-width: $desktop) {
    flex-direction: row;
    align-items: center;

    height: 132px;
  }
}

.page-header__logo {
  position: relative;

  width: 100px;
  height: 15px;
  display: block;

  @media (min-width: $tablet) {
    width: 164px;
    height: 42px;

    flex-basis: auto;
    margin-bottom: 88px;
    margin-right: auto;
  }

  @media (min-width: $desktop) {
    margin-right: 0;
    margin-bottom: 0;
  }
}

.page-header--active .page-header__logo,
.page-header--no-js .page-header__logo {
  @media (max-width: $desktop - 1) {
    opacity: 1;

    &::before {
      content: "";
      position: absolute;
      left: 0;

      width: 100%;
      height: 100%;

      background-image: url("../img/logo-mobile-dark.png");
      background-repeat: no-repeat;
      background-size: contain;

      @media (min-width: $tablet) {
        background-image: url("../img/logo-tablet-dark.png");
      }
    }
  }
}

.page-header--fixed .page-header__logo {
  opacity: 1;

  &::before {
    content: "";
    position: absolute;
    left: 0;

    width: 100%;
    height: 100%;

    background-image: url("../img/logo-mobile-dark.png");
    background-repeat: no-repeat;
    background-size: contain;

    @media (min-width: $tablet) {
      background-image: url("../img/logo-tablet-dark.png");
    }
  }
}

.page-header--no-js .page-header__toggle {
  display: none;
}

.page-header--fixed .page-header__toggle {
  &::before {
    color: $silver;
  }
}

.page-header__toggle {
  position: relative;

  display: block;
  margin-top: -3px;
  width: 24px;
  height: 24px;
  margin-left: auto;

  border: none;
  background-color: inherit;

  cursor: pointer;

  @media (min-width: $tablet) {
    position: absolute;
    left: 50%;

    margin-top: 5px;

    transform: translate(-50%, 50%);
  }

  @media (min-width: $desktop) {
    display: none;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;

    width: 25px;
    height: 3px;

    color: white;

    background-color: currentColor;
    border-radius: 1.5px;
    box-shadow: 0 -8px 0 currentColor;
  }

  width: 25px;
  height: 15px;
}

.page-header--active .page-header__toggle {
  @media (max-width: $desktop - 1) {
    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;

      width: 24px;
      height: 2px;

      color: $silver;

      border-radius: 1.5px;

      transform: rotate(45deg);
      box-shadow: none;
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;

      width: 24px;
      height: 2px;

      color: $silver;

      border-radius: 1.5px;
      background-color: currentColor;

      transform: rotate(-45deg);
    }

    @media (min-width: $tablet) {
      margin-top: 0;
    }
  }
}

.page-header__action-nav {
  flex-basis: 100%;
  margin-bottom: 35px;

  @media (min-width: $tablet) {
    flex-basis: auto;
    order: -1;
    margin-top: -4px;
  }

  @media (min-width: $desktop) {
    order: 0;
    flex-basis: auto;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: auto;
  }
}

.page-header__nav {
  flex-basis: 100%;
  margin-top: 78px;
  margin-bottom: 54px;

  @media (min-width: $tablet) {
    margin-left: 57px;
    margin-bottom: 105px;
    margin-top: 7px;
  }

  @media (min-width: $desktop) {
    flex-basis: auto;
    margin-bottom: 0;
    margin-left: 87px;
  }
}

.page-header__social {
  flex-basis: 100%;
  margin-top: 0;
  margin-bottom: 36px;
  padding-left: 0;

  list-style: none;
  @media (min-width: $tablet) {
    margin-left: 83px;
  }

  @media (min-width: $desktop) {
    display: none;
  }
}

.page-header__channels {
  flex-basis: 100%;
  margin-bottom: 41px;
  padding-left: 0;

  list-style: none;

  @media (min-width: $tablet) {
    margin-left: 57px;
    margin-bottom: 129px;
  }

  @media (min-width: $desktop) {
    display: none;
  }
}

.page-header {
  &--inactive {
    .page-header__wrapper {
      .page-header__action-nav,
      .page-header__social,
      .page-header__nav,
      .page-header__channels {
        display: none;
      }

      @media (min-width: $tablet) {
        .page-header__action-nav {
          display: flex;
        }
      }

      @media (min-width: $desktop) {
        .page-header__nav {
          display: flex;
        }
      }
    }
  }

  &--active {
    @media (min-width: $tablet) and (max-width: $desktop - 1) {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 1000;

      background-color: $white;
    }
  }

  &--no-js,
  &--active {
    @media (max-width: $desktop - 1) {
      background-color: $white;
    }

    .page-header__wrapper {
      @media (max-width: $desktop - 1) {
        position: static;

        height: auto;
        padding-top: 22px;
        padding-bottom: 4px;

        color: $basic-blue;

        background-color: $white;

        @media (min-width: $tablet) and (max-width: $desktop) {
          flex-direction: row-reverse;
          align-items: flex-start;
          padding-top: 44px;
          padding-bottom: 55px;
        }
      }
    }
  }

  &--fixed {
    position: fixed;
    color: $basic-blue;
    background-color: $white;
    z-index: 10;
    width: 100%;

    height: 73px;

    @media (min-width: $tablet) {
      height: 132px;
    }

    @media (min-width: $desktop) {
      height: 90px;

      .page-header__wrapper {
        padding-top: 0;
        padding-bottom: 40px;

        color: $big-stone;
      }
    }
  }
}
