.social {
  display: grid;
  grid-auto-flow: column;
  column-gap: 26px;
  grid-auto-columns: max-content;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet) {
    justify-content: left;
    column-gap: 35px;
  }
}

.social__item {
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &--circle {
    width: 45px;
    height: 45px;

    border-radius: 50%;
    background-color: $basic-yellow;

    &:hover,
    &:focus {
      opacity: 1;
      background-color: $special_yellow_dark;
    }

    &:active .social__icon {
      opacity: 0.3;
    }

    @media (min-width: $tablet) {
      width: 62px;
      height: 62px;
    }
  }
}

.social__icon {
  @media (min-width: $tablet) {
    &--vk {
      width: 31px;
      height: 16px;
    }

    &--fb {
      width: 14px;
      height: 28px;
    }

    &--ig {
      width: 24px;
      height: 24px;
    }
  }
}
