.title {
  margin-top: 0;

  font-size: 36px;
  font-weight: bold;
  line-height: 40px;

  @media (min-width: $tablet) {
    font-size: 60px;
    line-height: 70px;
  }

  &--sub {
    color: $special-orange;
    font-size: 24px;

    @media (min-width: $tablet) {
      font-size: 45px;
    }
  }

  &--sub-step {
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    color: $basic-blue-light;

    @media (min-width: $tablet) {
      font-size: 36px;
      line-height: 36px;
    }

    @media (min-width: $desktop) {
    }
  }

  &--outline-block {
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    color: $basic-blue-light;

    text-transform: uppercase;

    @media (min-width: $tablet) {
      font-weight: 500;
      font-size: 20px;
      line-height: 20px;
      letter-spacing: 0.08em;
    }

    @media (min-width: $desktop) {
      letter-spacing: 0.07em;
    }
  }

  &--form-blue {
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    color: $basic-blue-light;

    @media (min-width: $tablet) {
      font-size: 36px;
      line-height: 36px;
    }
  }
}
