$mobile: 320px;
$tablet: 768px;
$desktop: 1440px;

$padding-mobile: 25px;
$padding-tablet: 40px;
$padding-desktop: 60px;

// colors
$black: #000000;
$whisper: #edeff6;
$white: #ffffff;
$silver: #cccccc;
$big-stone-light: #182044;
$big-stone: #192144;
$big-stone-alt: #121936;
$basic-blue: #161c35;
$basic-blue-light: #1d2e5b;
$blue-dark: #101d41;
$basic-yellow: #ffd74b;
$special-yellow: #ffd74b;
$special_yellow_dark: #ffbd30;
$special-orange: #ff8d30;
$special-orange-light: #ffa530;
$square-bg: #141b3b;
$special-grey: #444444;
$basic-green: #81e31e;
$blue-link: #132576;
$grey-border: #e1e3e9;
$grey-bg: #e2e5f2;
$error: #ff0000;
$grey-border-light: #f2f2f2;
