$mobile: 320px;
$tablet: 768px;
$desktop: 1440px;

// colors
$whisper: #edeff6;
$white: #ffffff;
$silver: #cccccc;
$big-stone-light: #182044;
$big-stone: #192144;
$big-stone-alt: #121936;
$basic-blue: #161c35;
$basic-yellow: #ffd74b;
$special-yellow: #ffbd30;
$special_yellow_dark: #ffbd30;
$special-orange: #ff8d30;
$special-orange-light: #ffa530;
