$mobile: 320px;
$tablet: 768px;
$desktop: 1440px;

// colors
$whisper: #edeff6;
$white: #ffffff;
$silver: #cccccc;
$big-stone: #192144;
$big-stone-alt: #121936;
$basic-blue: #161c35;
$basic-yellow: #ffd74b;
$special-yellow: #ffbd30;
